[phases.setup]
# 1. Instalar Python y Pip explícitamente
nixPkgs = ["python311", "python311Packages.pip", "postgresql"]

[phases.install]
# 2. Entrar a la carpeta e instalar requerimientos
cmds = ["cd backend && pip install -r requirements.txt"]

[phases.build]
# 3. Recolectar archivos estáticos (CSS del admin)
cmds = ["cd backend && python manage.py collectstatic --noinput"]

[deploy]
# 4. Arrancar el servidor
startCommand = "cd backend && daphne -b 0.0.0.0 -p $PORT core.asgi:application"